@charset "UTF-8";


        #wrap{
            width: 80%;
            margin: 30px auto;

        }
        #header{
            display: flex;
            /* background-color: yellow; */
        }
        #mypage-body{
            position: absolute;
            left: 75%;
        }
        .mypage{
            width: 50px;
            height: 40px;
        }
        #all{
            display: flex;
        }
        #all-left{
            width: 15%;
            /* background-color: green; */
        }
        .left-a{
            text-decoration: none;
            color: black;
        }
        .left-a:hover{
			text-decoration: underline;
		}
        #all-right{
            width: 800px;
            /*background-color: rgb(231, 228, 228);*/
        }
        

        #modify-button-form,#delete-button-form{
            display: inline-block;
        }
        #modify-button{
            margin-left: 570px;
        }
        #delete-button{
            margin-left: 5px;
        }
        #modify-button, #delete-button{
            width: 100px;
            height: 30px;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: 800;
            color: white;
            border: none;
            border-radius: 5px;
            background-color: rgb(46, 204, 113);
        }



        #footer{
            display: flex;
            justify-content: space-evenly; 
            margin-top: 50px;
            background-color: black;
        }
        #companyInfo{
            font-size: 1rem;
            font-family: sans-serif;
            color: white;
            margin-top: 10px;
        }
        #serviceCenter{
            font-size: 1rem;
            font-family: sans-serif;
            color: white;
            margin-top: 10px;
        }